pyTelegramBotAPI
schedule
certifi==2024.8.30
charset-normalizer==3.4.0
feedparser==6.0.11
idna==3.10
pip==24.2
pyTelegramBotAPI==4.23.0
pytz==2024.2
redis==5.2.0
requests==2.32.3
schedule==1.2.2
setuptools==75.2.0
sgmllib3k==1.0.0
six==1.16.0
tgbot==0.31
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.3
uwsgidecorators==1.1.0